#li1 { color:green}
#li2 { color:blue}
#li3 { color:red}
#li4 { color:violet}

#About-us {background-color: yellow}

.Skills-container {
    display: flex;
     }
  
  #div1 {
    background-color: yellowgreen;
    height: 50px;
    width: 50px;
    padding: 40px;
    font-size: 20px;
  }
  #div2 {
    background-color: yellow;
    height: 50px;
    width: 50px;
    padding: 40px;
    font-size: 20px;
  }
  #div3 {
    background-color: green;
    height: 50px;
    width: 50px;
    padding: 40px;
    font-size: 20px;
  }
  #div4 {
    background-color: goldenrod;
    height: 50px;
    width: 50px;
    padding: 40px;
    font-size: 20px;
  }
  .Portfolio-container{
    display: flex;
    flex-direction: column;
  }
  .Portfolio-container div {
    border-style: solid;
    border-width: thin;
    border-color: blue;
    height: 50px;
    width: 50px;
    padding: 30px;
    font-size: 20px;
  }
  #wyslij {
    height: 30px;
    width: 80px;
    background-color: darkgreen;
    color: darkgrey;
  }